AutoClimate:
  module: autoclimate
  class: AutoClimate
  name: autoclimate # Name for *this* instance of the AutoClimate app.

  disable: true # Set to: false

  poll_frequency: 1 # hours  
  test_mode: false

  create_temp_sensors: true # Fixes a bug that offline ecobees show last temp in temp sensor
  turn_on_error_off: true # If a climate is a hard off and should not be, try to turn it on? 

  # Main configuration
  entity_rules:
    climate.cabin:
      off_state:
        state: "away"
        temp:  55
      occupancy_sensor: binary_sensor.cabin_occupancy
      auto_off_hours: 36         
    climate.floor_heater:
      off_state:
        state: "perm_hold"              
        temp: 41
        perm_hold_string: "Permanent Hold"
      occupancy_sensor: binary_sensor.cabin_occupancy
      auto_off_hours: 36             
    climate.garage:
      off_state:
        state: "off"       
      occupancy_sensor: binary_sensor.garage_occupancy
      auto_off_hours: 1        
  

  #
  # Mocks - For testing. If run_mocks==True 
  # 
  run_mocks: false   
  mocks:
    - entity_id: climate.cabin
      mock_attributes: {
        "temperature": 62,
        "preset_mode": "Sleep",
      }
    - entity_id: climate.cabin
      mock_attributes: {
        "temperature": 62,
        "preset_mode": "Away",
      }   
    # etc.
